.cc-CardBrowser {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cc-CardBrowser::-webkit-scrollbar {
  display: none;
}

.cc-CardBrowserAnchor {
    scroll-snap-align: center;
}

